# These owners will be the default owners for everything in this repo.
# all changes.
*                   @red-hat-storage/ceph-qe-ci @red-hat-storage/ceph-qe-admin

# for RGW
rgw/                @mkasturi18 @ckulal @TejasC88

# for RBD team 
rbd/                @Manohar-Murthy
rbd_mirror/         @Manohar-Murthy

# for NVMe-oF
nvmeof/             @Manohar-Murthy @HaruChebrolu

# for RADOS
rados/              @neha-gangadhar @pdhiran

# for FS
cephfs/             @neha-gangadhar @AmarnatReddy @Manimaran-MM

# smb
smb/                @vdas-redhat @pranavprakash20

# for DMFG
ceph_volume/        @vdas-redhat @pranavprakash20
cephadm/            @vdas-redhat @pranavprakash20
mgr/                @vdas-redhat @pranavprakash20
nfs/                @vdas-redhat @pranavprakash20
upgrades/           @vdas-redhat @pranavprakash20
