globals:
    - ceph-cluster:
       name: ceph
       node1:
         role:
            - mon
            - mgr
            - installer
            - iscsi-gw
       node2:
         role:
            - mon
            - mds
       node3:
         role: osd
         no-of-volumes: 4
         disk-size: 15
       node4:
         role: osd
         no-of-volumes: 4
         disk-size: 15
       node5:
         role: osd
         no-of-volumes: 4
         disk-size: 15
       node6:
         role:
            - mon
            - rgw
       node7:
         role:
             - mds
             - iscsi-gw
       node8:
         role:
           - client
           - nfs
       node9:
         role: pool
         no-of-volumes: 4
         disk-size: 15
       node10:
         role: grafana

